[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "image.binarization"]
	path = image.binarization
	url = https://github.com/digi-vub/image.binarization
[submodule "recogito"]
	path = recogito
	url = https://github.com/digi-vub/recogito
[submodule "text.alignment"]
	path = text.alignment
	url = https://github.com/digi-vub/text.alignment
